/* body styling */
body {
    background-color: hsl(212,45%, 89%);
    font-family: Outfit;
    font-size: 15px;
    margin: 5.25rem;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh-1px);
    flex-direction: column;
}

#qr {
    background-color: hsl(0, 0%, 100%);
    padding: 1.25rem;
    border-radius: 0.725rem;
    margin: 0;
}

.qr-body {
    text-align: center;
    margin: 0;
}




/* ending tags */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
